@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color:inherit;}

/* 기본색 */
:root {
  --main-color:#FF9D23;
  --accent-color:#3C552D;
  --dark-main-color:#B99470;
  --text-bright-color:#fff;
  --icon-color:#fff;
  --icon-bk-color:#ddd;
  --gray-color:#ddd;
  --large-width:1000px;
  --middle-width:800px;

}

/* 기본설정 : 폰트 크기 */
@media (max-width:599px){
  :root {font-size: 14px;}
}
@media (min-width:600px) and (max-width:799px) {
  :root {font-size: 16px;}
}
@media (min-width:800px){
  :root {font-size: 18px;}
}
/* 기본설정 */
body {
  font-family: '맑은 고딕', 'apple sd gothic neo', 
  sans-serif;
  font-size: 16px;
}

/* header */
header {
  position: absolute;
  left: 0; top: 0;
  z-index: 100;
  background: rgba(255,255,255,.9);
  width: 100%; 
}
.nohero header {
  position: static;
  border-bottom: 1px solid var(--gray-color);

}

/* header A : 사이트 이름 */
.headA {
  display: inline-block;
  line-height: 70px;
  padding: 0 20px;
  background: var(--main-color);
  color: var(--text-bright-color);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

/* headerB : 네비게이션 메뉴 */
.headB {}
.headB ul {}
.headB a {display: block; font-size: 12px; padding: 15px;}
.headB a:hover {background: rgba(0,0,0,.3);}


@media screen and (max-width:767px){
  .container-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* headerC : toggle버튼 */
  .headC {
    margin-right: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
  }
  .headC:hover {
    opacity: 0.3;
  }
  .headB {display: none;}
}

@media screen and (min-width:768px) {
   header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--large-width); 
    margin: 0 auto;   
  }
  .headB {display: block!important;}
  .headB ul {display: flex;}
  .headC {display: none;}
}

/* 콘텐츠 A : 히어로 이미지 */
.conA {
  display: flex; /* 자식요소를 모두 가운데로 정렬 */
  justify-content: center;
  align-items: center;
  height: 100vh; 
  min-height: 450px; 
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(../img/flower1.jpg); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  color:#fff; 
  color:var(--text-bright-color);
  text-align: center;
}
.conA.compact {
  height: 450px;
  min-height: 0;
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../img/flower12.jpg);
}

.conA img {width: 20%;} 
.conA h1 {
  margin-bottom: 10px;
  font-size: 15vw;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .2em;
  margin-left: 0.2em;
} 

.conA p {
  font-size: 18px;
}
.conA a {
  display: inline-block; 
  margin-top: 20px; 
  background: var(--accent-color); 
  padding: 10px 30px;
  border-radius:  6px;
  border: 3px solid currentColor; 
  font-size: 14px;
}
.conA a:hover {background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) }

@media screen and (min-width:768px) { 
  .conA h1 {font-size: 115px;} 
}

  .conA p {font-size: 24px;} 

  /* 콘텐츠 B : 개요(아이콘+글자)*/
  .conB {padding: 80px 0 20px;}
  .conB .text {
    text-align: center;
    padding: 0 20px 60px;
  }
  .conB .icon {
    display: inline-block; 
    width: 2em; height: 2em;
    line-height: 2;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 20px;
    color: #9BEC00;
    font-size: 40px;
  }
  .conB h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .conB p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8; 
    opacity: 0.8;
  }

  .conB a {
    color: var(--main-color);
  }
  .conB a:hover {text-decoration: underline;}

@media screen and (min-width:768px){
  .conB .container {
    display: flex;
    max-width: var(--large-width); 
    margin: 0 auto;
  }
  .conB .text {flex: 1;}
}

/* 콘텐츠C : 개요(이미지+글자) */
.conC {
  background: var(--main-color);
  color:var(--text-bright-color);
}
.conC .photo {
  min-height: 200px; 
  background-image: url(../img/flower2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conC .text {padding: 20px;}
.conC h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.conC p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8; 
  opacity: 0.8;
}

.conC a {
  display: inline-block; 
  margin-top: 20px; 
  background: var(--accent-color); 
  padding: 10px 30px;
  border-radius:  6px;
  border: 3px solid currentColor; 
  font-size: 14px;
}
.conC a:hover {background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) }

@media screen and (min-width:768px) {
  .conC .container {
    display: flex;
    max-width: var(--large-width);
    margin: 0 auto;
  }
  .conC .photo {flex:3;}
  .conC .text {flex:2; padding: 50px;}
}

/* 콘텐츠D : 개요(이미지+글자 : 반대로 배치하기) */
.conD {
}
.conD .container {padding-top: 2px;}
.conD .photo {
  min-height: 200px; 
  background-image: url(../img/flower3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conD .text {padding: 20px;}
.conD h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.conD p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8; 
  opacity: 0.8;
}

.conD a {
  display: inline-block; 
  margin-top: 20px; 
  background: var(--accent-color); 
  color:var(--text-bright-color);
  padding: 10px 30px;
  box-shadow: 0 0 0 1px #888;
  border-radius:  6px;
  border: 3px solid currentColor; 
  font-size: 14px;
}
.conD a:hover {background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) }

@media screen and (min-width:768px) { 
  .conD .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: var(--large-width);
    margin: 0 auto;
    padding: 40px 0;
  }
  .conD .photo {flex:0 0 400px;}
  .conD .text {flex:1; padding: 50px;}
}

/* footer */
footer {
  background: var(--dark-main-color);
  color: var(--text-bright-color);
}
footer .container {
  padding: 40px 20px;
}

/* footerA : 사이트 정보 */
.footA {margin-bottom: 30px;}
.footA h2 {
  margin-bottom: 10px;
  font-size: 30px; 
  font-family: "Montserrat", sans-serif;
  letter-spacing: .2em;
}
.footA p {}
.footA a {}

/* footerB : 푸터 메뉴 */
.footB {}
.footB div {margin-bottom: 20px;}
.footB h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid currentColor; 
  font-size: 14px;
}
.footB ul {}
.footB a {
  display: block;
  padding: 5px;
  font-size: 12px;
}

.footB a:hover {
  background: rgba(0,0,0, .3);
}
/* footerC : 저작권 */
.footC {
  font-family: "Montserrat", sans-serif;
  text-align: center; 
}
.footC small {font-size: 12px;} 

@media screen and (min-width:768px) {
  footer .container {
    display: flex;
    flex-wrap: wrap; 
    max-width: var(--large-width);
    margin: 0 auto;
  }
  .footA {flex: 0 0 40%;} 
  .footB {
    display: flex;
    flex: 0 0 60%;
  }
  .footB div {flex:1;}
  .footB div:not(:first-child) {
    margin-left: 40px;
  }
  .footC {flex: 0 0 100%;}
}
/* contents 페이지 : 기사 */
.post {}
.post .container {
  max-width: var(--middle-width);
  padding: 30px 10px;
  margin: 0 auto;
}
/* contents 페이지 : 빵 부스러기 리스트 */
.bread {}
.bread ol {display: flex;}
.bread a {display: block; padding: 5px; font-size: 0.875rem;} 
.bread a::after { 
  margin-left: 10px;
  content: '\f054'; 
  font-family: "fontawesome";
  opacity: .3;
}
.bread a:hover {background: rgba(0,0,0, .3);}


/* ***** */
.post h1 {
  margin:  .8em 0;
  padding-left: .5rem;
  border-left: .75rem solid var(--accent-color);
  font-size: 2rem;
}
.post img {
  max-width: 100%; 

}
.post p {
  margin: 1em 0;
  font-size: 1rem;
  line-height: 2;
  text-align: justify; 
}

/* 소개 페이지 : 이미지와 연혁 */
.history {
  background: var(--main-color);
  color:var(--text-bright-color);
}
.history .photo {
  min-height: 300px; 
  background-image: url(../img/flower14.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.history .text {padding: 20px;}
.history h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.history table {
  border-collapse: collapse;
  border-top: 1px solid var(--gray-color);
  font-size: .875rem;
}
.history th, 
.history td {
  padding: 1.8rem 0;
  border-bottom: 1px solid var(--gray-color);
}
.history th {
  padding-right: 1rem; 
  text-align: left;
  white-space: nowrap; 
  word-break: keep-all;  
}
@media screen and (min-width:768px) {
  .history .container {
    display: flex;
    max-width: var(--large-width);
    margin: 0 auto;
  }
  .history .photo {flex:3;}
  .history .text {flex:2; padding: 50px;}
}

/* 문의 페이지 : 문의 대상 */
.contact {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid var(--gray-color);
  text-align: center;
} 
.contact h2 {margin-bottom: .8rem; font-size: 1.2rem;}
.contact a {font-size: 1.4rem;}

@media screen and (min-width:768px) {
  .contact-wrap {
    display: flex;
  }
  .contact {flex: 1}
  .contact:first-child {margin-right: 20px;}
}

/* list */
.listC {}
.listC h1 {
  margin:  50px 0;
  text-align: center;
}

.listC .container {
  display: flex;
  flex-wrap: wrap; 
  margin: 2px auto;
}
.listC article {
  flex: 1 1 250px; 
  display: flex;
}
.listC a {
  position: relative;
  flex: 1;
  display: block;
  margin: 2px;
  border: 1px solid var(--gray-color);
  background-color: currentColor;
}
.listC a:hover {opacity: .8;}
.listC .photo {
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6; 
}
.listC .text {
  position: absolute; 
  left: 0; bottom: 0; 
  margin: 10px;
  color: var(--text-bright-color);
}
.listC h2 {
  font-size: 18px;
}
.listC p {
  font-size: 14px;
  opacity: 0.8;
}
@media (min-width:1000px) {
  .listC article {
    flex: 1 1 25%;
  }
  .listC article:nth-child(4n+1){
    flex: 1 1 50%;
  }
}


.contact i {font-size: 2.2rem; text-align: center; color: var(--text-bright-color); background: var(--main-color); border-radius: 50%; padding:20px; margin-bottom: 20px;}

/* 문의 페이지 : 지도 */
.location h2 {text-align: center; background: var(--main-color); padding:20px 0; color: var(--text-bright-color); font-size: 1.5rem;}
.location iframe {
  width: 100%; height: 400px;
  vertical-align: bottom;
}

/* footerD : SNS메뉴 */
.footD {margin-top: 20px;}
.footD ul {display: flex; }
.footD a {
  display: block;
  width: 2em; height: 2em;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  border: 1px solid currentColor;
}
.footD a:hover {background: rgba(0,0,0,.3);}


